[Desktop Entry]
Type=Application
Name=Mihomo Dashboard
Comment=Open Mihomo (Clash.Meta) Web Dashboard
Exec=/usr/bin/mihomo-gui
Icon=network-vpn
Terminal=false
Categories=Network;Utility;
Keywords=proxy;clash;meta;mihomo;vpn;
